.card {
  padding: 1rem;
  position: relative;
  color: white;

  .dltBtn {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;

    &::before {
      content: "\00d7";
      font-size: 24px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: black;
    }
  }
}
